ShibUserPassAuth {
    /*
	com.sun.security.auth.module.Krb5LoginModule required;
	*/
	/*
    org.ldaptive.jaas.LdapLoginModule required
      ldapUrl="ldap://localhost:10389"
      baseDn="ou=people,dc=example,dc=org"
      userFilter="uid={user}";
      
       frameworks.jaas.JDBCLoginModule required
        dbDriver="com.microsoft.sqlserver.jdbc.SQLServerDriver"
        dbURL="jdbc:sqlserver://qaserver3:1433;databaseName=aftims;user=aftims;password=staging"
        userQuery="select password, user_id, role_cd, name_first, name_last, email from usr.security_user where username=?"
        roleQuery="select right_cd from aftims.v_security_user_right where username=?";
    */
    
    frameworks.jaas.JDBCLoginModule required
        jndiURL="java:jboss/ontrack/jdbc/MAIN/TH"
        userQuery="select password, user_id, role_cd, name_first, name_last, email from usr.security_user where username=?"
        roleQuery="select right_cd from usr.v_security_user_right where username=?";

};